.about-container {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .sidebar {
        width: 500px;
        ul {
            list-style-type: none;
        }
    }

}