.about-container {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .sidebar {
        width: 300px;
        padding: 20px;
        margin-left: 110px;
        margin-top: 200px;
    }
}