.portfolio-container {

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .button-list {
    display: flex;
    flex-direction: column;
  }
  
  .button-list button {
    width: 100%; 
    margin-bottom: 4px; 
  }
}